@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
:root {
  --color-primario: #fb521f;
  --color-secundario: #121212;
  --color-terciario: #888;
  --color-cuarto: #333;
  --color-quinto: #ddd;

  --font-primaria: 'Anek Devanagari', sans-serif;
  --font-secundaria: 'Space Grotesk', monospace;
}

::selection {
  background-color: #fb521f;
  color: var(--color-secundario);
}

/* Para Firefox */
::-moz-selection {
  background-color: #fb521f;
  color: var(--color-secundario);
}
html:before {
  content: '';
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  backdrop-filter: blur(8px);
  background-color: var(--color-secundario);
  opacity: 0.08;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100%;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  width: 100%;
  /* cursor: crosshair; */

  font-family: var(--font-primaria);
  line-height: 1;
  font-size: 1.5rem;
  font-optical-sizing: auto;

  /* background-color: var(--color-quinto); */
  background: var(--color-quinto);
  background: linear-gradient(
    312deg,
    #f07a56 0%,
    #d7b2a9 8%,
    #d4d4d4 18%,
    #d8d8d8 88%,
    #dedede 96%
  );
}
body {
  margin: 0;
  padding: 1rem;
  min-width: min-content;
}
main {
  position: relative;
  margin: 4rem auto;
  width: 100%;
  max-width: 1024px;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--color-primario);
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  transition: all 0.5s ease;

  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: var(--font-secundaria);
  font-weight: 900;
  line-height: 1;
  color: var(--color-secundario);
}
h2 {
  font-weight: 300;
  color: var(--color-secundario);
}

h3 {
  font-family: var(--font-primaria);
  margin: 0;
  font-weight: 400;
  color: var(--color-cuarto);
}

h4 {
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  margin: 4px 0 12px;
  color: var(--color-cuarto);
}
article h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
  color: var(--color-primario);
}

p {
  color: var(--color-cuarto);
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0;
  text-wrap: pretty;
}

.logo-text-1 {
  color: var(--color-primario);
  animation: ani1 4s infinite ease-in-out;
}

.logo-text-2 {
  animation: ani2 4s infinite ease-in-out;
  color: var(--color-cuarto);
}

.logo-text-3 {
  animation: ani3 4s infinite ease-in-out;
  color: var(--color-cuarto);
}
.nav-item {
  color: var(--color-cuarto);
  display: none;
}
.nav-item:hover {
  color: var(--color-primario);
}

.asterisk {
  opacity: 12%;
}

.labels h2 {
  color: var(--color-cuarto);
}

.tag {
  user-select: none;
  font-size: 0.8rem;
  font-family: var(--font-secundaria);
  color: var(--color-terciario);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-terciario);
  padding: 8px 12px;
  border-radius: 4px;
}
.tag:hover {
  border-color: transparent;
}
figure img {
  box-shadow: 0 0 40px 1px #ff3c005a;
}
.project,
.experience-article,
.education {
  border: 1px solid #bbb;
}
.project-footer {
  border-top: 1px solid #c0c0c0;
}
.date {
  text-transform: uppercase;
  font-size: 0.6rem;
  text-align: right;
}

.print {
  margin-top: 20px;
  display: none;
}

@media print {
  *,
  h1,
  h2,
  h3,
  h4,
  p,
  article,
  span {
    color: black;
    background: white;
  }
  .print {
    display: block;
  }
}

html.dark {
  background: var(--color-secundario);
  background: linear-gradient(
    312deg,
    #6c1c05 0%,
    #3c1308 8%,
    #151212 28%,
    #050404 66%
  );
}
.dark main {
  color: var(--color-quinto);
}
.dark h1 {
  color: var(--color-terciario);
}
.dark h2 {
  color: var(--color-quinto);
}
.dark h3 {
  color: var(--color-quinto);
}
.dark h4 {
  color: var(--color-terciario);
}
.dark p {
  color: var(--color-quinto);
}

.dark a {
  color: var(--color-primario);
}

.dark ul {
  color: var(--color-terciario);
}

.dark .logo-text-2 {
  color: var(--color-quinto);
}

.dark .logo-text-3 {
  color: var(--color-quinto);
}

.dark .nav-item {
  color: var(--color-quinto);
}

.dark .asterisk {
  opacity: 4%;
}

.dark.labels h2 {
  color: var(--color-quinto);
}

.dark p.date {
  color: var(--color-terciario);
}
.dark article h4 {
  color: var(--color-primario);
}
.dark figure img {
  box-shadow: 0 0 40px 1px #451b0e5a;
}
.dark .project,
.dark .education,
.dark .experience-article {
  border: 1px solid #1f1f1f;
}
.dark .project-footer {
  border-top: 1px solid #202020;
}

.dark .print {
  display: none;
}
