@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* --color-primario: #fb521f; */
  --color-primario: #ff4c24;
  --color-primario-2: #ff6435;
  --color-secundario: #130f0e;
  --color-terciario: #948e8e;
  --color-cuarto: #3a3a3f;
  --color-quinto: #eaeaea;

  --font-primaria: 'Archivo', serif;
}

:root {
  --color-fondo: #ffffff;
  --color-texto: #130f0e;
  --color-borde: #c0c0c0;

  --color-fondo-proyecto: #f8f8f8; /* Color claro */
  --color-texto-proyecto: #130f0e; /* Texto oscuro */

  --color-boton: #000000; /* Negro en tema claro */
  --color-texto-boton: #ffffff; /* Texto blanco en tema claro */
  --color-boton-hover: #333333;
  --color-texto-boton-hover: #ffffff;

  --color-experiencia-fondo: #f8f8f8;
  --color-experiencia-borde: rgba(0, 0, 0, 0.1);
  --color-experiencia-texto: #222;

  background: var(--color-fondo);
}

html.dark {
  --color-fondo: #222;
  --color-texto: #eaeaea;
  --color-borde: #333;

  --color-fondo-proyecto: #1c1817;
  --color-texto-proyecto: #eaeaea;

  --color-boton: #ffffff;
  --color-texto-boton: #000000;
  --color-boton-hover: #eaeaea;
  --color-texto-boton-hover: #000000;

  --color-experiencia-fondo: var(--color-secundario);
  --color-experiencia-borde: rgba(255, 255, 255, 0.1);
  --color-experiencia-texto: var(--color-quinto);

  background: var(--color-fondo);
}

::selection {
  background-color: var(--color-fondo);
  color: var(--color-secundario);
}

/* Para Firefox */
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
/*
OVERLAY RUIDO

html:before {
  content: '';
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  background-color: var(--color-secundario);
  opacity: 0.04;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100%;
  pointer-events: none;
  overflow-x: hidden;
}
*/

* {
  font-family: var(--font-primaria);
}
*::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.1rem;
  background-color: var(--color-fondo);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 0.2rem;
}
*::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  width: 100%;
  /* cursor: pointer; */
  font-size: 1rem;
  font-optical-sizing: auto;

  background: transparent;
}
body {
  margin: 0;
  padding: 1rem;
  min-width: min-content;
  overflow: hidden;
}
main {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 80vw;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--color-primario);
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  transition: all 0.5s ease;

  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-weight: 600;
  line-height: 1;
  color: var(--color-secundario);
}
h2 {
  font-weight: 300;
  color: var(--color-secundario);
}

h3 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 400;
  color: var(--color-cuarto);
}

h4 {
  font-optical-sizing: auto;
  margin: 4px 0 12px;
  color: var(--color-cuarto);
}
article h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
  color: var(--color-primario);
}

p {
  color: var(--color-cuarto);
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  text-wrap: pretty;
}

.logo-text-1 {
  color: var(--color-primario);
  animation: ani1 4s infinite ease-in-out;
}

.logo-text-2 {
  animation: ani2 4s infinite ease-in-out;
  color: var(--color-cuarto);
}

.logo-text-3 {
  animation: ani3 4s infinite ease-in-out;
  color: var(--color-cuarto);
}
.nav-item {
  color: var(--color-cuarto);
  display: none;
}
.nav-item:hover {
  color: var(--color-primario);
}

.asterisk {
  opacity: 12%;
}

.labels h2 {
  color: var(--color-cuarto);
}

.tag {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 8px 24px;
  border-radius: 12px;
  border: 1px solid var(--color-borde);
  color: var(--color-terciario);
  transition: all 0.3s ease;
}
.tag:hover {
  border-color: transparent;
}
figure img {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.project,
.experience-article,
.education {
  border: 1px solid #bbb;
}
.project-footer {
  border-top: 1px solid #c0c0c0;
}
.date {
  text-transform: uppercase;
  font-size: 0.6rem;
  text-align: right;
}

.print {
  margin-top: 20px;
  display: none;
}

@media print {
  *,
  h1,
  h2,
  h3,
  h4,
  p,
  article,
  span {
    color: black;
    background: white;
  }
  .print {
    display: block;
  }
}

.dark main {
  color: var(--color-quinto);
}
.dark h1 {
  color: var(--color-terciario);
}
.dark h2 {
  color: var(--color-quinto);
}
.dark h3 {
  color: var(--color-quinto);
}
.dark h4 {
  color: var(--color-terciario);
}
.dark p {
  color: var(--color-quinto);
}

.dark a {
  color: var(--color-primario);
}

.dark ul {
  color: var(--color-terciario);
}

.dark .logo-text-2 {
  color: var(--color-quinto);
}

.dark .logo-text-3 {
  color: var(--color-quinto);
}

.dark .nav-item {
  color: var(--color-quinto);
}

.dark .asterisk {
  opacity: 4%;
}

.dark.labels h2 {
  color: var(--color-quinto);
}

.dark p.date {
  color: var(--color-terciario);
}

.dark figure img {
  box-shadow: 0 0 40px 1px #1c18175a;
}
.dark .project,
.dark .education,
.dark .experience-article {
  border: 1px solid #1f1f1f;
}
.dark .project-footer {
  border-top: 1px solid #202020;
}

.dark .print {
  display: none;
}

@media screen and (max-width: 970px) {
  body {
    padding: 0.5rem;
  }
}
