---
import Section from '../Section.astro';

import { basics } from '@cv';
import Technologies from '../sections/Technologies.astro';
import Languages from '../sections/Languages.astro';
---

<Section>
  <h2 class="subtitle">About</h2>
  <div class="about-container">
    <div class="about-text">
      <!-- {basics.image && <img src={basics.image} alt="profile" />} -->
      <p>
        I've been designing since I was 16, starting with prints, flyers, and
        social media ads for local bands and business. Working in agile,
        international teams, I use tools like Figma, Adobe Suite, VSC, and
        Notion, and develop sites using mainly React (PERN stack) or Astro and
        Tailwind. I'm Argentine with European citizenship, which makes it easier
        to connect with teams worldwide.
      </p>
      <p class="little-text">
        I love collaborating and creating digital experiences that make things
        easier for both users and clients.
      </p>
      <!-- <p class="little-text">
        When I'm not designing or coding, you’ll likely find me playing guitar,
        reading, or enjoying a great coffee, always exploring new ideas.
      </p> -->
    </div>
    <div class="about-technologies">
      <Technologies />
      <Languages />
    </div>
  </div>
</Section>

<style>
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  p {
    font-size: 1.64rem;
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--color-texto);
  }

  .about-technologies {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .little-text {
    font-size: 1.24rem;
    font-weight: 400;
    color: var(--color-cuarto);
  }

  img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  @media (max-width: 920px) {
    .about-container {
      grid-template-columns: 1fr;
      gap: 4rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }
</style>
