---
import Section from '../Section.astro';

import { education } from '@cv';
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, area, studyType, startDate, endDate }) => {
        return (
          <li>
            <article class="education">
              <header>
                <h3>{institution}</h3>
                <p class="date">
                  {startDate} - {endDate ? endDate : 'Presente'}
                </p>
              </header>
                  <h4>{area}</h4>
              <footer>
                <p>{studyType}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  .education {
    border-radius: 4px;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 1rem;
  }
  
  li {
    width: 100%;
    height: 100%
  }

  h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 4px 0;
    letter-spacing: 0.01rem;
    color: var(--color-primario);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  @media screen and (max-width: 760px) {
    ul {
      flex-direction: column;
    }
  }

  @media print {
    * {
      color: black;
      background: white;
    }

    h4 {
      color: black;
    }

    a {
      display: none;
    }
  }
</style>
