---
import Section from '../Section.astro';

import { languages } from '@cv';
---

<Section>
  <h2>Bilingual</h2>
  <ul>
    {
      languages.map(({ language }) => {
        return (
          <>
            <li>
              <span class="tag">{language}</span>
            </li>
          </>
        );
      })
    }
  </ul>
</Section>

<style>
  h2 {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    color: var(--color-texto);
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: right;
  }
  ul {
    width: 100%;
    display: inline-flex;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
    color: var(--color-terciario);
    gap: 0.6rem;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    h2 {
      text-align: left;
    }
    ul {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
</style>
