---
import Section from '../Section.astro';

import { languages } from '@cv';
---

<Section title="Idiomas">
  <ul>
    {
      languages.map(({ language }) => {
        return (
          <>
            <li>
              <span class="tag">{language}</span>
            </li>
          </>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    list-style: none;
  }

  
</style>
