---
import Section from '../Section.astro';

import { skills } from '@cv';
---

<Section title="Technologies and tools">
  <ul>
    {
      skills.map(({ name }) => {
        return (
          <>
            <li>
              <span class="tag">{name}</span>
            </li>
          </>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--color-terciario);
    gap: 0.6rem;
    list-style: none;
    padding: 0;
  }
</style>
