---
import Section from '../Section.astro';

import { designer, developer } from '@cv';
---

<Section>
  <div class="skills">
    <h2>Designer</h2>
    <ul>
      {
        designer.map(({ name }) => {
          return (
            <>
              <li>
                <span class="tag">{name}</span>
              </li>
            </>
          );
        })
      }
    </ul>
    <h2>Developer</h2>
    <ul>
      {
        developer.map(({ name }) => {
          return (
            <>
              <li>
                <span class="tag">{name}</span>
              </li>
            </>
          );
        })
      }
    </ul>
  </div>
</Section>

<style>
  h2 {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-terciario);
  }
  ul {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    color: var(--color-terciario);
    gap: 0.6rem;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    h2 {
      text-align: left;
    }
    ul {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
</style>
