---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import Experience from "@/components/sections/Experience.astro";
import Skills from "@/components/sections/Skills.astro";
import Languages from "@/components/sections/Languages.astro";
---

<Layout title="CV - Ramiro Fiscella">
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Education />
    <Skills />
    <Languages />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (max-width: 450px) {
    main {
      padding: 1rem;
    }
  }
</style>
