---
import { basics } from '@cv';

const { name, label1, label2, image, location, profiles, email } = basics;
const { city, region } = location;

const linkedInfo = profiles.find((p) => p.network === 'LinkedIn');
const LinkedUrl = linkedInfo?.url;

const githubInfo = profiles.find((p) => p.network === 'GitHub');
const gitHubUrl = githubInfo?.url;

const printInfo = [email, LinkedUrl, gitHubUrl];
---

<footer>
  <div class="name-date">
    <p>{new Date().getFullYear()} {basics.name}</p>
  </div>

  <div class="container">
    <h2>
      Open to new opportunities or side hustles, feel free to get in touch!
    </h2>
    <h3>ramirofiscella@gmail.com</h3>
  </div>
  {
    email && (
      <a
        class="mail"
        href={`mailto:${email}`}
        title={`Enviar correo electrónico a ${name} al correo ${email}`}
        target="_blank"
        rel="noopener noreferer"
      >
        Contact
      </a>
    )
  }
</footer>

<style>
  footer {
    height: 64vh;
    width: 100%;
    padding: 1rem;
    border-radius: 16px;

    margin-bottom: 8rem;

    background-color: var(--color-primario);
    color: var(--color-fondo);
  }
  .name-date {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
  }
  .name-date p {
    font-family: 'Space Grotesk', monospace;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    color: var(--color-secundario);
  }

  .container h2,
  .container h3 {
    margin: 0;

    font-weight: 600;
    color: var(--color-secundario);
  }
</style>
