---

---

<a href="#">
    <div class="text-wrapper">
      <div class="box logo-text-1">Ramiro <br> Fiscella</div>
      <div class="box logo-text-2">Web <br> Developer</div>
      <div class="box logo-text-3">UX/UI <br> Designer</div>
  </div>
</a>

<style>

  .box {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;

    font-weight: 600;
    font-size: .88rem;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: 0.01rem;

  }


  @keyframes ani1 {
    0% {
      opacity: 0;
    }
    .1% {
      opacity: 1
    }
    39.9% {
      opacity: 1
    }
    40% {
      opacity: 0;
    }
  }

  @keyframes ani2 {
    40% {
      opacity: 0;
    }
    40.1% {
      opacity: 1
    }
    69.9% {
      opacity: 1
    }
    70% {
      opacity: 0;
    }
  }

  @keyframes ani3 {
    70% {
      opacity: 0;
    }
    70.1% {
      opacity: 1
    }
    99.9% {
      opacity: 1
    }
    100% {
      opacity: 0;
    }
  }
</style>