---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 600px;
    margin: 0 auto 2.8rem;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  @media print {
    *,
    h1,
    h2,
    h3,
    h4,
    p,
    article,
    span {
      color: black;
      background: white;
    }
  }
</style>
