---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.4rem;
    line-height: 1.5;
  }

  @media print {
    *,
    h1,
    h2,
    h3,
    h4,
    p,
    article,
    span {
      color: black;
      background: white;
    }
  }
</style>
